html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #84c15b;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
#container {
  background-color: #84c15b;
}
#logo img {
  width: 426px;
}
section,
li,
.linkbar {
  padding: 1rem;
}
/* For screen readers there needs to be a h1 tag? */
h1 {
  font-size: 0;
}
section {
  background-color: white;
  margin-block-end: 1rem;
}
#vision {
  background-color: #84c15b;
  font-size: 2rem;
}
#visionbar {
  background-color: #84c15b;
  padding-inline: 1rem;
}
nav ul {
  margin-block-end: 1rem;
}
nav ul li {
  background-color: #9dcd7c;
  padding: 1.5rem;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: gray 1px 1px 1px;
  border: solid 1px #618e40;
  border-radius: 1rem;
  box-shadow: 0px 1px 3px #618e40;
}
nav ul li:hover {
  background-color: #acd590;
}
h2 {
  font-size: 2rem;
}
.linkbar {
  background-color: #cbcbcb;
  color: black;
  margin-block-end: 1rem;
}
.linkbar:hover {
  background-color: #d9d9d9;
}
.linkbar span {
  text-align: right;
  float: right;
}
figure {
  margin-block-end: -3.22px;
}
td.date {
  font-weight: bold;
  padding-inline-end: 1rem;
}
address {
  color: white;
}
#vision img {
  display: none;
}
.sm-icon {
  margin-inline-end: 1rem;
  font-size: 2rem;
  float: right;
}

/* FLEX */

/* navbar */
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul > * {
  flex-grow: 1;
  flex-basis: 100%;
}

/* vision bar */
#visionbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#visionbar > * {
  flex-grow: 1;
  flex-basis: auto;
}

/* boxes */
#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#boxes > * {
  flex-grow: 1;
  flex-basis: 100%;
}

/* Tablet view */
@media screen and (min-width: 426px) {
  nav ul {
    flex-wrap: nowrap;
  }

  #vision {
    background-color: white;
    padding: 1rem;
    margin-block-end: 1rem;
  }
  #visionbar {
    background-color: white;
    background-image: url("https://c.pxhere.com/photos/fd/2a/paper_white_grey_handmade_handmade_paper_texture_papyrus_parchment-1412534.jpg!d");
    margin-block-end: 0;
    padding: 0rem;
    padding-inline-start: 1rem;
  }
  #visionbar p {
    flex-grow: 2;
    flex-basis: 0;
    margin: auto;
  }
  #visionbar figure {
    flex-grow: 1;
    flex-basis: 0;
  }
  #visionbar img {
    display: inline;
    width: auto;
  }
  #boxes {
    flex-wrap: wrap;
  }
  #specials,
  #events {
    flex-basis: 0;
  }
  #specials {
    margin-inline-end: -1rem;
  }
}

/* Desktop view */
@media screen and (min-width: 769px) {
  #news {
    flex-basis: 0;
  }
  #events {
    margin-inline-end: -1rem;
  }
  #boxes {
    margin-inline-end: -1rem;
  }
}
