.mainlogo {
  color: white;
  width: 427px;
  height: 138px;
  border: solid black 1px;
  text-align: right;
  vertical-align: top;
  margin-block-start: -1.5rem;
}
.citrus {
  font-family: "CustomFont";
  text-shadow: 0px 0px 25px #323232;
  font-size: 13rem;
}
.cafe {
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 200;
}
.motto {
  color: #323232;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-block-start: -3.6rem;
  text-align: right;
}

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/harabara mais demo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
